<!DOCTYPE html>
<html>
  <head>
    <title>Universal Stream Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <script type="module">
      import { createApp } from 'vue'
    
      createApp({
        data: () => ({
          inputSearch: "",
          curID: "",
          userSearched: false,
          invalidSearch: false,
          resultArray: [],
          services: {}
        }),
        methods: {
          search() {
            console.log("inside search func with input: " + this.inputSearch);

            if (this.inputSearch == "") {
            	console.log("error: empty search field");
            	this.invalidSearch = true;
            	return;
            }// Restricts user from empty search

            this.invalidSearch = false;
            this.userSearched = true;

            // format request string
            var query_string = "https://api.themoviedb.org/3/search/movie?api_key=8596c94855d28fdca5aa37866daaf12a&language=en-US&query=";
            query_string += this.inputSearch;
            query_string += "&page=1&include_adult=false";

            // send http get to the api
            axios
              .get(query_string)

              .then(response => {
                this.resultArray = response["data"]["results"];
                console.log(this.resultArray);
                this.resultArray.forEach(item => {
                  item.poster_path = "https://image.tmdb.org/t/p/original" + item.poster_path;
                  console.log(item.poster_path)
                });
              })
              .catch(response => (console.log("failed to get movie query")));

            // TODO: get the id

            // put actual results we want to display into resultArray
            // console.log(this.resultArray);
            // console.log(typeof(this.resultArray));

            /*
            var test = this.resultArray[0];
            console.log(test);
            */

            for (property in this.resultArray){
            	console.log(property);
            }
          }, // search()
          showServices(id) {
            // make request to site with this id
            var queryString = "https://api.themoviedb.org/3/movie/";
            queryString += id;
            queryString += "/watch/providers?api_key=8596c94855d28fdca5aa37866daaf12a";
            
            axios
              .get(queryString)
              .then(response => {
                //console.log(response);
                this.services[id] = response["data"]["results"]["US"]["flatrate"];
                console.log(this.services[id]);
                //console.log(this.resultArray);
              })
              .catch(response => (console.log("failed to get movie query")));
            // show the streaming services

            
          } // showServices

        },
      }).mount('#app')
    </script>

    
  </head>

  <body>
    <div id='app'>
      <h1>Universal Streaming Search</h1>

      <div class="form-floating mb-3" id="search-div">
        <input v-model="inputSearch" v-on:keyup.enter="search" type="text" class="form-control" id="search_bar floatingInput" placeholder="movie title">
        <label for="floatingInput">Enter a movie title</label>
      </div>
      
      <div id="button-container">
        <button type="button" class="btn btn-success search-button" v-on:click="search">Search</button>
      </div>

      <template v-if="userSearched" class="mainResults">

        <div id="resultBox" v-if="resultArray.length != 0" v-for="item in resultArray"> <!-- removed from end of tag... :key="item.id"-->
          <img :src="item.poster_path" style="height: 20%; width: 20%;"></img>
            <div id="metadata">
              <p>title: {{ item.original_title }}</p>
              <p>release date: {{ item.release_date }}</p>
              <p>viewer rating: {{ item.vote_average }} / 10</p>
               <!--FIXME: this is likely just a string-->
              <button type="button" class="btn btn-dark" type="button" v-on:click="showServices(item.id)" :key="item.id">streaming services</button> 
              <!--FIXME: we need to make another request for this-->
              <ul>
                <li v-for="service in services[item.id]">{{ service.provider_name }}</li>
              </ul>
            </div>
        </div>
        <div v-else><p>No results found</p></div>
      </template>

      <div v-if="invalidSearch"> 
      	<p>Please enter a valid query</p>
      </div>
      <div v-else style="margin:10px;">Try searching for something (looks like you haven't yet)</div>
      
      
    </div>
    
  </body>
</html>