h1 {
  background-color:rgb(183, 231, 179);
  margin: 10px;
}

.mainResults {
    display: flex;
    padding: 10px;
}

#resultBox {
  display: flex;
  padding: 10px;
  width: 100%;
}

#metadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#metadata p {
  padding: 10px;
}

#metadata button {
  margin: 10px;
  width: 200px;
}

#search-div {
  margin: 10px;
}

#search_button {
  margin: 0 auto;
  display: block;
}