h1 {
  font-size: 5em;
  background-color:rgb(183, 231, 179);
  margin: 10px;
}

p, ul, button {
  font-size: 1.5em;
}

.mainResults {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

#movie-label{
  margin-right: 20px;
  margin-left: 10px;
}

#tv-label {
  margin-left: 10px;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#movie-tv-choice {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#resultBox {
  display: flex;
  padding: 10px;
  flex: 1 1 0px;
}

#metadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#metadata p {
  padding: 10px;
}

#metadata button {
  margin: 10px;
  width: 200px;
}

#search-div {
  margin: 10px;
}

#search_button {
  margin: 0 auto;
  display: block;
}
