body {
  background-image: linear-gradient(to bottom right, rgb(164, 218, 164), rgb(162, 188, 235));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 4em;
  margin: 10px;
  font-family: 'Karla', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

p, ul, button, label {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.mainResults {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

#movie-label{
  margin-right: 20px;
  margin-left: 55px;
}

#tv-label {
  margin-left: 20px;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#movie-tv-choice {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#resultBox {
  display: flex;
  padding: 10px;
  flex: 1 1 0px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: white;
}

#metadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#metadata p {
  padding: 10px;
}

#metadata button {
  margin: 10px;
  width: 200px;
}

#search-div {
  margin-left: 50px;
  margin-right:50px;
  margin-bottom: 50px;
}
